/* .formsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f6c9;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 18px;
} */

.title {
  margin-top: 10px;
}
.formsContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  /* background-color: #f9f9f6c9;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.addBtn {
  width: 2em;
  height: 30px;

  position: relative;
  display: inline-block;

  border: none;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  font-style: italic;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
}
.addBtn:hover {
  background-color: #256fbe;
  box-shadow: -4px 5px 5px 0px rgba(115, 111, 115, 1);
  color: yellow;
}
.addBtn:focus,
.addBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/******** Підказка LogOut ********/
.addBtn .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: gray;
  text-align: center;
  padding: 0;

  top: 35px;
  right: -130%;
  position: absolute;
  z-index: 1;
}
.addBtn:hover .tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .formsContainer {
    flex-direction: row;
    align-items: end;
    /* border: 1px solid red; */
  }
}
