.title {
  margin-top: 10px;
}
.formsContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .formsContainer {
    flex-direction: row;
    align-items: end;
  }
}
