.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 100%;
  padding-top: 10px;
}

.title {
  color: red;
}

.modalBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modalBtn {
  width: 4em;
  height: 30px;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: -3px 3px 5px 0px rgba(115, 111, 115, 1);
  background-color: transparent;
  color: gray;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  font-style: italic;

  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
}

.modalBtn:hover {
  background-color: #256fbe;
  box-shadow: -4px 5px 5px 0px rgba(115, 111, 115, 1);
  color: yellow;
}
.modalBtn:focus,
.logoutBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  .modalContent {
    max-width: 800px;
    height: 200px;
    gap: 2em;
    padding: 10px;
  }
  .modalTitle {
    font-size: 1.2em;
    font-weight: 600;
    color: #2a363b;
    text-align: center;
  }
}
