.navContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  font-weight: 700;
  color: white;
}
.navLink:hover {
  color: rgb(238, 255, 47);
  text-decoration: underline;
}
.active {
  color: rgb(238, 255, 47);
  text-decoration: underline;
}

/************ 768 *************/
@media screen and (min-width: 768px) {
  .navContainer {
    gap: 20px;
  }

  .navLink {
    padding: 12px;
  }
}
