.contactContainer {
  font-weight: 600;
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameNumberWrap {
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactName {
  color: #256fbe;
}
.contactNumber {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.deleteBtn {
  border: none;
  background-color: transparent;
}

.deleteBtnImg {
  color: gray;
}
.deleteBtnImg:hover {
  color: red;
}
