.registrationLoginWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
.navLink {
  display: flex;
  /* padding: 15px; */
  color: black;
  text-decoration: none;
}
.navLink:hover {
  color: blue;
}
.active {
  color: red;
}
