.imgContainer {
  width: 80px;
  height: 80px;

  border-radius: 6px;
  overflow: hidden;
}

.imgPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 400px) {
  .imgContainer {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 500px) {
  .imgContainer {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .imgContainer {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .imgContainer {
    width: 120px;
    height: 120px;
  }
}
