:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
label {
  cursor: pointer;
}

input {
  height: 45px;
  width: 260px;
  font-size: 20px;
  color: #385983;
  line-height: 16px;
  border: 2px solid #bed6f8;

  border-radius: 5px;
  padding-left: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover,
input:focus {
  outline: none;
  border-color: #87b5fb;
}

input::placeholder {
  font-style: 10px;
  color: gray;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: blue;
  text-decoration: none;
}

/* a:hover {
  color: red;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #434455;
  background-color: #bed6f899;
  margin: 0;
  min-height: 100vh;
}

/********* кнопка форми *********/
.formBtn {
  width: 200px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px solid gray;
  background-color: #2f85e2;
  box-shadow: -4px 4px 5px 0px rgba(115, 111, 115, 1);

  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin: 0 auto;

  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s;
}
.formBtn:hover {
  background-color: #256fbe;
  box-shadow: -4px 5px 5px 0px rgba(115, 111, 115, 1);
}
.formBtn:focus,
.formBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/******* маленька кнопка ***********/
.btnSmall {
  width: 2em;
  height: 30px;

  position: relative;
  display: inline-block;

  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: blue;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  font-style: italic;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
}
.btnSmall:hover {
  background-color: #256fbe;
  box-shadow: -4px 5px 5px 0px rgba(115, 111, 115, 1);
  color: yellow;
}

.btnSmall:focus,
.btnSmall:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/******** Підказка маленької кнопки ********/
.btnSmall .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: gray;
  text-align: center;
  padding: 0;

  top: 35px;
  right: -130%;
  position: absolute;
  z-index: 1;
}
.btnSmall:hover .tooltiptext {
  visibility: visible;
}

/******** Модальне вікно ********/
.modalBoxWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 100%;
  padding-top: 10px;
}

.modalBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modalBtn {
  width: 4em;
  height: 30px;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: -3px 3px 5px 0px rgba(115, 111, 115, 1);
  background-color: transparent;
  color: gray;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  font-style: italic;

  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
}

.modalBtn:hover {
  background-color: #256fbe;
  box-shadow: -4px 5px 5px 0px rgba(115, 111, 115, 1);
  color: yellow;
}
.modalBtn:focus,
.logoutBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
