.contactList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contactItem {
  background-color: white;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 10px;
  padding: 10px 10px 10px 18px;
}
