.homePageContainer {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcomeTextWrap {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  /* border-radius: 6px;
  background: linear-gradient(to right, #fff94cab, #004ff9c7); */
}

.welcomeText {
  font-size: 26px;
  color: blue;
  font-weight: 600;
}

.fixedBtn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/************ 768 *************/
@media screen and (min-width: 768px) {
  .homePageContainer {
    gap: 20px;
  }
}
