.homePageContainer {
  position: relative;
  height: 90vh;
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcomeTextWrap {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 6px;
  background: linear-gradient(to right, #fff94cab, #004ff9c7);
}

.welcomeText {
  font-size: 26px;

  color: blue;

  opacity: 0;
  animation-name: fadeHomePageWelcomeText;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeHomePageWelcomeText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
